<section id="about">
  <!----- ABOUT ----->
  <div class="py-5 text-center">
    <h2 class="display-5 fw-bold text-light">Nosotros</h2>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4 text-light fw-bold">Somos un negocio dedicado a la gestion vehicular con más de 10 años de experiencia.</p>
      <p class="lead mb-4 text-light">Nos caracterizamos por la eficiencia y confiabilidad en nuestro trabajo, ya que lo más importante para nosotros es que puedas obtener tus documentos de manera ágil y sencilla.</p>
    </div>
  </div>

  <!----- EXPERIENCIA ----->
  <div class="container col-xxl-8 px-4 py-5 mt-5">
    <div class="row flex-lg-row-reverse align-items-center g-5">

      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Más de 10 años de experiencia.</h1>
        <p class="lead">En un entorno donde la complejidad de los trámites puede ser abrumadora, ofrecemos el servicio para guiar a nuestros clientes a través de los
          procesos, asegurándonos de que cada paso se lleve a cabo de manera correcta y oportuna.</p>

        <p class="lead">En nuestra gestoría la paciencia y el compromiso se combinan para ofrecer un servicio
          excepcional que simplifica su vida en el mundo de los vehículos.</p>
        
        <p class="lead">Si busca un socio confiable y con experiencia para gestionar los trámites vehiculares de manera
          eficiente y sin complicaciones, confíe en nosotros.</p>
        <a href="{{ url_for('nosotros') }}" style="text-decoration: none; color: #112d4e;" class="fw-bold">Más de nosotros...</a>
      </div>
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="https://cdn-icons-png.flaticon.com/512/2359/2359722.png" class="d-block mx-lg-auto img-fluid"
             alt="Bootstrap Themes" width="400" height="300" loading="lazy">
      </div>
    </div>
  </div>
</section>