form {
    margin: 100px 0;
}

.container-preguntas {
    padding: 0;
    margin-bottom: 40px;
}

label.fw-bold {
    font-size: 1.4rem;
}

.hide-element {
    display: none;
}

.edit {
    color: blue;
}
