<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Página no encontrada</title>
  </head>
  <body>
    <div class="contenedor">
      <div class="main">
        <p>UPS PÁGINA NO ENCONTRADA</p>
        <h1>404</h1>
        <p>LO SENTIMOS PERO LA PÁGINA QUE BUSCAS NO FUE ENCONTRADA</p>
        <a href="/">REGRESAR AL INICIO</a>
      </div>
    </div>
  </body>
</html>
<style>
  .contenedor {
    height: 100vh;
    background: linear-gradient(to bottom, #112D4E, #19477C);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
  }

  .main p {
    font-size: 1.25rem;
  }

  .main h1 {
    font-size: 160px;
    font-weight: bold;
  }

  .main a {
    color: black;
    padding: 10px 12px;
    border-radius: 5px;
    font-weight: bold;
    display: inline-block;
    margin-top: 20px;
    background-color: #EAB308;
  }

  .main a:hover {
    background-color: #FACC15;
  }
</style>
