---
import Layout from "../layouts/Layout.astro";
import FormularioContacto from '../sections/Contacto.astro';
---

<Layout title="Contacto | Gestoría Vehicular JC" almoadilla={ false }>
  <div class="pt-[100px]">
    <FormularioContacto />
  </div>
</Layout>
