---
import Layout from '../layouts/Layout.astro';
import SeoBasico from '../components/parts/SeoBasico.astro';
import Hero from '../sections/Hero.astro';
import SliderImage from '../components/parts/SliderImage.astro';
import Servicios from '../sections/Servicios.astro';
import Nosotros from '../sections/Nosotros.astro';
import Contacto from '../sections/Contacto.astro';
import PreguntasFrecuentes from '../sections/PreguntasFrecuentes.astro';
import Pregunta from '../components/Pregunta.astro';

const seoImage = new URL('/images/placas/cdmx_placas.png', Astro.url);
---

<Layout title="Gestoría Vehicular JC" almoadilla={ true }>
	<SeoBasico
		slot='seo'
		description='Gestoría vehicular para la Ciudad de Mexico, Estado de México, Morelos, Guerrero y Chiapas desde el Estado de México'
		keywords='gestoria vehicular, placas, tramites vehicualres, reemplacamiento, gestor de placas, placas para carros placas para motos, verificacion vehicular, altas y bajas vehiculares, gestoria vehicular jc'
		ogTitle='Servicos de Gestoría Vehicular para CDMX, EDOMEX, Morelos, Guerrero y Chiapas'
		ogDescription='Una gestoría eficiente y de confianza donde te podemos ayudar con tus tramites vehiculares como Altas y Bajas, Cambio de Entidad, Cambios de Propietario, Placas Federales, entre otros.'
	>
		<meta property="og:image" content={ seoImage }>
		<meta property="og:image:type" content="image/png">
		<meta property="og:image:alt" content="Personas trabajando en equipo">
	</SeoBasico>
	<main>
		<Hero
			title='Gestoría Vehicular'
			subtitle='Gestionamos trámites, altas en transporte federal, placas y permisos federales de diferentes estados como'
			subtitleStrong='CDMX, EDOMEX, Morelos, Guerrero y Chiapas.'
			image='/images/hero_img/hero_principal.png'
			altImage='Ilustración de dos personas conversando'
			>
			<div class="bg-white min-h-[20vh] border-b-2 py-8">
				<div class="container-jc mx-auto overflow-x-hidden relative slider-fade">
					<div class="flex items-center flex-nowrap w-[calc(240px * 10)] px-8" id="slider">
						<SliderImage src='/images/logos/cdmx_logo.png' alt='Logo de la Ciudad de México'/>
						<SliderImage src='/images/logos/edomex_logo.png' alt='Logo del Estado de México'/>
						<SliderImage src='/images/logos/guerrero_logo.png' alt='Logo del estado de guerrero'/>
						<SliderImage src='/images/logos/chiapas_logo.png' alt='Logo del estado de chiapas'/>
						<SliderImage src='/images/logos/morelos_logo.png' alt='Logo del estado de morelos'/>
						
						<SliderImage src='/images/logos/cdmx_logo.png' alt='Logo de la Ciudad de México repetido'/>
						<SliderImage src='/images/logos/edomex_logo.png' alt='Logo del Estado de México repetido'/>
						<SliderImage src='/images/logos/guerrero_logo.png' alt='Logo del estado de guerrero repetido'/>
						<SliderImage src='/images/logos/chiapas_logo.png' alt='Logo del estado de chiapas repetido'/>
						<SliderImage src='/images/logos/morelos_logo.png' alt='Logo del estado de morelos repetido'/>
					</div>
				</div>
			</div>
		</Hero>

		<Servicios />
		<Nosotros />
		<Contacto />
		<PreguntasFrecuentes>
			<Pregunta 
				pregunta='¿Cuánto tiempo tardan en completar mis trámites?'
				respuesta='El tiempo que demora en tener el trámite listo es de 5 a 10 días habiles desde que entrega los requisitos, el tiempo puede variar dependiendo del tipo de trámite que quiera realizar.'
			/>
			<Pregunta 
				pregunta='¿Cuáles son los documentos necesarios para realizar trámites vehiculares?'
				respuesta='Los documentos necesarios pueden variar según el tipo de trámite, pero en general, algunos documentos comunes incluyen:'
				requisitos={[
					"Identificaión oficial del propietario",
					"Comprobante de domicilio",
					"Factura original del vehiculo",
					"Comprobante de pago de tenencia y verificación"
				]}
			/>
			<Pregunta 
				pregunta='¿Con la gestoría de placas que es lo que me entregan?'
				respuesta='Con nuestros servicios entrgamos:'
				requisitos={[
					"Placas delanteras y traseras",
					"Tarjetas holograma",
					"Engomado",
					"Línea de captura",
					"Recibo de pago",
					"Constancia de trámite vehicular"
				]}
			/>
			<Pregunta 
				pregunta='¿Es necesario contratar un servicio de gestión vehicular o puedo realizar los trámites por mi cuenta?'
				respuesta='La posibilidad de realizar los trámites por tu cuenta propia depende de la complejidad de los procedimientos y de la familiarilidad del solicitante con la normativa vigente. Sin embargo, contratar nuestros servicios puede ofrecer ventajas como:'
				requisitos={[
					"Ahorro de tiempo y esfuerzo",
					"Evitar errores que puede retrasar el proceso del trámite",
					"Acceso a la experiencia y conocimiento de expertos en gestoría vehicular",
					"Seguimiento y actualización sobre cambios en regulaciones y requisitos"
				]}
			/>
		</PreguntasFrecuentes>
	</main>
</Layout>

<style>
	#slider {
		animation: slider 30s linear infinite;
		animation-delay: 0.5s;
	}

	#slider:hover {
		animation-play-state: paused;
	}

	@keyframes slider {
		/* 320px es el tamaño del contenedor de la imagen */
		0% { transform: translateX(0); }
		100% { transform: translateX( calc(-240px * 5) ); }
	}

	.slider-fade::before{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 150px;
		height: 100%;
		z-index: 2;
		background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
	}

	.slider-fade::after{
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		width: 150px;
		height: 100%;
		z-index: 2;
		background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
	}
</style>
