<footer class="bg-[#181818] mt-10">
  <div class="container-jc px-3 mx-auto py-8 flex flex-wrap flex-row">
    <div class="w-full md:w-1/2 lg:w-1/5 mb-4">
      <a href="/" class="block text-4xl mb-4 text-white" aria-label="Icono hacia página principal"><i class="bi bi-folder"></i></a>
      <p class="text-neutral-300 mb-4" id="copyright"></p>
      <div class="flex gap-5 items-center *:text-white">
        <a href="https://www.facebook.com/profile.php?id=61552056241067&mibextid=ZbWKwL" class="text-2xl hover:text-yellow-500 transition-colors" target="_blank" rel="noopener noreferrer" aria-label="Facebook"><i class="bi bi-facebook"></i></a>
        <a href="https://wa.me/send?text=Hola&tel=5510494689" class="text-2xl hover:text-yellow-500 transition-colors" target="_blank" rel="noopener noreferrer" aria-label="Whatsapp"><i class="bi bi-whatsapp"></i></a>
        <a href="mailto:gestorvehicularjc@gmail.com" class="text-2xl hover:text-yellow-500 transition-colors" target="_blank" rel="noopener noreferrer" aria-label="Email"><i class="bi bi-envelope"></i></a>
      </div>
    </div>

    <div class="w-full md:w-1/2 lg:w-1/5 mb-4"></div>

    <div class="w-full md:w-1/2 lg:w-1/5 mb-4">
      <h3 class="text-xl text-bold text-white mb-3">Interés</h3>
      <ul class="*:text-neutral-300 *:mb-2">
        <li><a href="/" class="hover:text-yellow-500 transition-colors">Inicio</a></li>
        <li><a href="/nosotros" class="hover:text-yellow-500 transition-colors">Nosotros</a></li>
      </ul>
    </div>

    <div class="w-full md:w-1/2 lg:w-1/5 mb-4">
      <h3 class="text-xl text-bold mb-3 text-white">Servicios</h3>
      <ul class="*:text-neutral-300 *:mb-2">
        <li><a href="/cdmx" class="hover:text-yellow-500 transition-colors">Cdmx</a></li>
        <li><a href="/edomex" class="hover:text-yellow-500 transition-colors">Edomex</a></li>
        <li><a href="/morelos" class="hover:text-yellow-500 transition-colors">Morelos</a></li>
        <li><a href="/guerrero" class="hover:text-yellow-500 transition-colors">Guerrero</a></li>
        <li><a href="/chiapas" class="hover:text-yellow-500 transition-colors">Chiapas</a></li>
      </ul>
    </div>

    <div class="w-full md:w-1/2 lg:w-1/5 mb-4">
      <h3 class="text-xl text-bold text-white mb-3">Contacto</h3>
      <ul class="*:text-neutral-300 *:mb-2">
        <li>
          <a href="https://wa.me/send?text=Hola&tel=5510494689" class="hover:text-yellow-500 transition-colors mr-2" target="_blank" rel="noopener noreferrer"><i class="bi bi-whatsapp mr-2"></i>55 4996 3965</a>
          <button class="bi bi-copy hover:text-yellow-500 scale-110 transition" aria-label="Copiar número de teléfono"></button>
        </li>
        <li>
          <a href="mailto:gestorvehicularjc@gmail.com" class="hover:text-yellow-500 transition-colors mr-2" target="_blank" rel="noopener noreferrer"><i class="bi bi-envelope-fill mr-2"></i>Contactanos</a>
        </li>
        <li>
          <a href="https://maps.app.goo.gl/FBKCGSdBJtryZo7b6" class="hover:text-yellow-500 transition-colors" target="_blank" rel="noopener noreferrer"><i class="bi bi-geo-alt-fill mr-2"></i>Encuentranos aqui</a></li>
        <li class="flex">
          <i class="bi bi-calendar-week-fill mr-2"></i>
          <p>Lunes - Viernes<br>10:00AM - 5:00PM</p>
        </li>
      </ul>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    document.querySelectorAll("button.bi-copy").forEach(item => {
      item.addEventListener("click",async () => {
        const text = item.previousElementSibling.textContent.trim();
        try {
          await navigator.clipboard.writeText(text);
        } catch (err) {
          console.error("Error al copiar al portapapeles", err);
        }
      });
    });

    const currenttYear = new Date().getFullYear();
    document.getElementById("copyright").textContent = `© 2023 - ${currenttYear}`;
  });
</script>
