<section id="contacto" class="mb-20">
  <div class="container-jc mx-auto px-3">
    <h2 class="text-3xl font-bold mb-4">Contacto</h2>
    <div class="flex flex-col lg:flex-row gap-6">
      <div class="inline-block">
        <a href="https://wa.me/525549963965?text=Hola!%20Me%20gustaia%20obtener%20informacion%20sobre%20sus%20servicios" class="text-gray-500 hover:text-yellow-500" target="_blank" rel="noopener noreferrer">
          <i class="bi bi-whatsapp"></i>
          55 4996 3965
        </a>
        <button class="bi bi-copy transition hover:scale-110 hover:text-yellow-500"></button>
      </div>
      <div class="inline-block">
        <a href="mailto:gestorvehicularjc@gmail.com" class="text-gray-500 hover:text-yellow-500" target="_blank" rel="noopener noreferrer">
          <i class="bi bi-envelope-fill"></i>
          gestorvehicularjc@gmail.com
        </a>
        <button class="bi bi-copy transition hover:scale-110 hover:text-yellow-500"></button>
      </div>
    </div>

    <div class="flex flex-col lg:flex-row my-8 lg:p-8 lg:border lg:rounded-lg lg:shadow-2xl">
      <form name="contact" data-netlify="true" class="lg:px-3 lg:pr-12 py-4 lg:py-0 flex-1">
        <label class="block mb-4">
          <span class="block after:content-['*'] after:ml-0.5 after:text-red-500">Nombre:</span>
          <input type="text" name="name" id="name" class="mt-2 block w-full rounded-md border-0 p-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-[#112D4E] focus:border-[#112D4E] focus:outline-none" required>
        </label>

        <label class="block mb-4">
          <span class="block after:content-['*'] after:ml-0.5 after:text-red-500">Correo:</span>
          <input type="email" name="email" id="email" class="mt-2 block w-full rounded-md border-0 p-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-[#112D4E] focus:border-[#112D4E] focus:outline-none" required>
        </label>

        <label class="block mb-4">
          <span class="block after:content-['*'] after:ml-0.5 after:text-red-500">Asunto:</span>
          <input type="text" name="asunto" id="asunto" class="mt-2 block w-full rounded-md border-0 p-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-[#112D4E] focus:border-[#112D4E] focus:outline-none" autocomplete="off" required>
        </label>

        <label class="block mb-4">
          <span class="block">Numero de télefono:</span>
          <input type="tel" name="phone" id="phone" class="mt-2 block w-full rounded-md border-0 p-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-[#112D4E] focus:border-[#112D4E] focus:outline-none" >
        </label>

        <label class="block mb-4">
          <span class="block after:content-['*'] after:ml-0.5 after:text-red-500">Mensaje:</span>
          <textarea name="mensaje" id="mensaje" rows="3" class="mt-2 block w-full rounded-md border-0 p-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-[#112D4E] focus:border-[#112D4E] focus:outline-none" required></textarea>
        </label>

        <div class="flex justify-end">
          <button type="submit" class="relative bg-neutral-950 hover:bg-neutral-700 text-white rounded-md px-4 py-2">Enviar</button>
        </div>
      </form>

      <div class="flex-1">
        <!-- <div class="w-full min-h-[500px] h-full bg-cyan-500"></div> -->
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d939.9429168015641!2d-99.1945498303823!3d19.551414062638568!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d21d6118d65aad%3A0xe802a5a9db6ab261!2sAv.%20Hidalgo%20112%2C%20Hab%20la%20Romana%2C%2054030%20Tlalnepantla%2C%20M%C3%A9x.!5e0!3m2!1ses-419!2smx!4v1720467064260!5m2!1ses-419!2smx" width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" title="Mapa con dirección a la oficina"></iframe>
      </div>
    </div>
  </div>
</section>

<style>
  .spinner::before {
    content: "";
    position: absolute;
    height: 25px;
    width: 25px;
    left: -50%;
    top: 25%;
    border: 5px solid #0A0A0A;
    border-right-color: transparent;
    border-radius: 50%;
    animation: spinner 1s linear infinite;
  }

  .correcto::before {
    content: "✓ Enviado";
    font-weight: bold;
    position: absolute;
    width: max-content;
    color: green;
    top: 50%;
    right: calc(100% + 10px);
    transform: translateY(-50%);
  }

  @keyframes spinner {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
</style>

<script>
  document.querySelector("button[type='submit']").addEventListener("click", async function (e) {
    const formulario = document.querySelector('form');

    if (formulario.checkValidity()) {
      e.preventDefault();
      
      const formData = new FormData(formulario);
      this.classList.add("spinner");
      
      try {
        await fetch("/", {
          method: "POST",
          headers: { "Content-Type": "application/x-www-form-urlencoded" },
          body: new URLSearchParams(formData).toString()
        });

        this.classList.remove("spinner");
        this.classList.add("correcto");
        setTimeout(() => {
          this.classList.remove("correcto");
        }, 3000);
      } catch (err) {
        console.log(err);
      }
    }
  });
</script>
