---
interface Props {
  nombre: string;
  href: string;
  iconName: string;
}

const { nombre, href, iconName } = Astro.props;
---

<li class="px-2 py-1 text-black hover:bg-yellow-500 hover:text-white">
  <a href={href} class="flex gap-3"><i class={`bi ${iconName}`}></i>{nombre}</a>
</li>
