---
import { Image } from 'astro:assets';

interface Props {
  src: `${string}.png`;
  alt: string;
}

const { src, alt } = Astro.props;
---

<div class="w-60 h-full shrink-0 px-10">
  <Image src={src} class="w-full h-auto object-contain" alt={alt} width={160} height={130} decoding='async' loading='eager'>
</div>
